/* == General Styles == */
*{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	font-family: Karla;
	font-size: 16px;
	margin-bottom: 0;
	color: #212529;
}
#wp-admin-bar-elementor_edit_page,
#wp-admin-bar-comments{
	display: none;
}
body.admin-bar{
	margin-top: 32px !important;
}
body.admin-bar nav{
	top: 32px;
}
section.top{
	margin-top: 60px;
}
body.admin-bar section.top{
	margin-top: 92px;
}
h1, h2, h3, h4, h5, h6{
	font-family: Rubik;
}
a,
a:visited,
a:link,
a:hover,
a:focus{
	outline: none;
	text-decoration: none;
	font-weight: normal;
	color: #212529;
}
.clear{
	clear: both;
}
.cell-wrap{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
noscript{
	text-align: center;
	display: block;
	font-weight: bold;
	color: #FFE17D;
}
p{
	line-height: 1.2;
}
.title-line{
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	color: #FFE17D;
}
section.opacity{
	background-color: rgb(122, 184, 255);
	background-color: rgba(122, 184, 255, 0.8);
}




/* == Navigation == */
nav{
	width: 100%;
	height: 60px;
	background-color: #7AB8FF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#nav-logo, #nav-links{
	height: 100%;
}
#nav-logo{
	position: absolute;
	top: 0;
	left: 50px;
}
#nav-links{
	width: 100%;
}
#nav-logo a{
	display: inline-block;
	height: 44px;
	margin-top: 8px;
	margin-left: 50px;
}
#nav-logo img{
	display: inline-block;
	height: 100%;
}
.nav-menu{
	height: 100%;
	width: 100%;
	text-align: center;
}
#menu-header-menu{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 100%;
	font-size: 0;
}
#menu-header-menu li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	line-height: 60px;
	position: relative;
}
#menu-header-menu li a{
	color: white;
	-webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
	transition: color 0.3s;
	font-size: 16px;
}
#menu-header-menu li a:hover{
	color: #FFE17D;
}
#menu-header-menu li.current-menu-item a{
	color: #FFE17D;
}
#menu-header-menu .sub-menu{
	position: absolute;
	top: 50px;
	left: 0;
	margin:0;
	padding-left: 0;
	padding-bottom: 5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #2F2E2E;
	overflow: hidden;
	-webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#menu-header-menu .sub-menu.expand{
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}
#menu-header-menu .sub-menu li{
	height: auto;
	display: block;
	line-height: 1.1;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
#menu-header-menu .sub-menu li a{
	color: white;
	vertical-align: middle;
}
#menu-header-menu .sub-menu li a:hover{
	color: #FFE17D;
}
.hamburger{
	visibility: hidden;
	position: absolute;
	right: 20px;
	top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.hamburger{font:inherit;display:inline-block;overflow:visible;margin:0;padding:15px;cursor:pointer;transition-timing-function:linear;transition-duration:.15s;transition-property:opacity,filter;text-transform:none;color:inherit;border:0;background-color:transparent;}
.hamburger.is-active:hover,.hamburger:hover{opacity:.7;}
.hamburger.is-active .hamburger-inner,.hamburger.is-active .hamburger-inner:after,.hamburger.is-active .hamburger-inner:before{background-color:#fff;}
.hamburger-box{position:relative;display:inline-block;width:40px;height:24px;}
.hamburger-inner{top:50%;display:block;margin-top:-2px;}
.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before{position:absolute;width:40px;height:4px;transition-timing-function:ease;transition-duration:.15s;transition-property:transform;border-radius:4px;background-color:#fff;}
.hamburger-inner:after,.hamburger-inner:before{display:block;content:"";}
.hamburger-inner:before{top:-10px;}
.hamburger-inner:after{bottom:-10px;}
.hamburger--squeeze .hamburger-inner{transition-timing-function:cubic-bezier(.55,.055,.675,.19);transition-duration:75ms;}
.hamburger--squeeze .hamburger-inner:before{transition:top 75ms ease .12s,opacity 75ms ease;}
.hamburger--squeeze .hamburger-inner:after{transition:bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);}
.hamburger--squeeze.is-active .hamburger-inner{transition-delay:.12s;transition-timing-function:cubic-bezier(.215,.61,.355,1);transform:rotate(45deg);}
.hamburger--squeeze.is-active .hamburger-inner:before{top:0;transition:top 75ms ease,opacity 75ms ease .12s;opacity:0;}
.hamburger--squeeze.is-active .hamburger-inner:after{bottom:0;transition:bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;transform:rotate(-90deg);}




/*=== Footer ===*/
footer{
	background-color: #2F2E2E;
	color: white;
	height: 200px;
	font-size: 14px;
}
footer .normal{
	font-size: 16px;
}
footer .content{
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
	height: 100%;
	margin: 0 auto;
	display: table;
}
footer .footer-box{
	display: table-cell;
	vertical-align: bottom;
	width: 40%;
	padding-bottom: 30px;
}
footer .footer-box.middle{
	text-align: center;
	width: 20%;
}
footer .right{
	text-align: right;
}
footer .social-icons{
	margin-bottom: 20px;
}
footer .social-icon{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
}
footer .social-icon.last{
	margin-right: 0px;
}
footer .social-icon img{
	width: 100%;
	height: 100%;
}
footer #menu-footer-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer #menu-footer-menu li{
	display: inline-block;
	margin-left: 6px;
	margin-right: 6px;
}
footer #menu-footer-menu li a{
	color: white;
}
footer #menu-footer-menu li a:hover{
	text-decoration: underline;
}
/*=== End Footer ===*/




/*=== Hero ===*/
.hero-background{
	background-size: cover;
	background-attachment: fixed;
}
.hero{
	width: 100%;
	height: 100vh;
	padding-top: 60px;
	padding-bottom: 120px;
	display: table;
	position: relative;
	-webkit-transition: height 0.3s;
    -o-transition: height 0.3s;
	transition: height 0.3s;
	background-size: cover;
	background-attachment: fixed;
}
.hero h1{
	text-align: center;
	color: white;
	font-size: 28px;
	margin-bottom: 20px;
	margin-top: 8px;
	line-height: 1.1;
}
.hero-content{
	max-width: 90%;
	margin: auto;
}
.hero-content img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.hero-buttons{
	width: 100%;
	height: 50px;
	text-align: center;
}
.hero-buttons .button-wrap{
	display: inline-block;
	height: 100%;
}
.hero-buttons .button{
	display: block;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	width: 150px;
	height: 100%;
	border-radius: 10px;
	background-color: #7AB8FF;
	line-height: 50px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	-webkit-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
.hero-buttons .button:hover{
	background-color: #FFE17D;
	color: #212529;
}
.hero-social{
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}
.hero-social .hero-social-wrap{
	display: inline-block;
	height: 100%;
}
.hero-social .hero-social-wrap .hero-social-icon{
	float: left;
	display: block;
	width: 40px;
	height: 100%;
	margin-left: 10px;
	margin-right: 10px;
}
.hero-social .hero-social-wrap .hero-social-icon img{
	display: block;
	width: 100%;
	height: 100%;
}




/* == Home Page == */

/* About */
#about{
	color: white;
	width: 100%;
	padding-top: 40px;
}
#about noscript{
	margin-bottom: 20px;
}
#about-tabs-wrapper, #about-display{
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}
#about-tabs-wrapper{
	text-align: center;
}
#about-tabs{
	display: inline-block;
	list-style-type: none;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 30px;
	padding: 0;
}
#about-tabs li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
#about-tabs li a.active{
	color: #FFE17D;
	-webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
#about-tabs li a{
	color: white;
}
#about-tabs li a:hover{
	color: #FFE17D;
}
#about-display{
	position: relative;
	display: table;
	min-height: 750px;
}
#about-display .content{
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding-top: 30px;
	padding-bottom: 0px;
	max-height: 0px;
	overflow: hidden;
}
#about-display .content.active{
	position: static;
	opacity: 1;
	max-height: 9999px;
	padding-top: 0px;
	padding-bottom: 30px;
	-webkit-transition: opacity 1.3s;
    -o-transition: opacity 1.3s;
	transition: padding 1.3s, opacity 1.3s;
}
#about-display .content a{
	display: inline-block;
	color: #FFE17D;
	-webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
#about-display .content a:hover{
	-webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);
}
#about-display #who-we-are.content a.sponsor{
	-webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}
#about-display .content iframe{
	visibility: hidden;
}
#about-display .content.active iframe{
	visibility: visible;
}
#about-display .content h2{
	margin-top: 0;
	text-align: center;
	font-size: 28px;
	margin-bottom: 30px;
}
#about-display .text{
	float: left;
	width: 65%;
	padding-left: 10px;
}
#about-display p{
	margin: 0;
	padding: 0;
}
#about-display p.list-heading{
	font-size: 18px;
}
#about-display hr{
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	width: 60%;
	height: 1px;
	background: white;
}
#about-display ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#about-display ul li{
	font-size: 14px;
	margin-bottom: 6px;
	line-height: 1;
}
#about-display .right-list, #about-display .left-list{
	float: left;
	width: 50%;
}
#about-display .left-list{
	padding-right: 7px;
}
#about-display .right-list{
	padding-left: 7px;
}
#about-display .img{
	float: left;
	width: 35%;
	padding-right: 10px;
}
#about-display .content.right .text{
	float: right;
	padding-left: 0px;
	padding-right: 10px;
}
#about-display .content.right .img{
	float: right;
	padding-left: 10px;
	padding-right: 0px;
}
#about-display img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
}
#about-display #contact-us .text, #about-display #visit-us .text{
	width: 100%;
	float: none;
}
#about-display #contact-us h2{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#about-display .wpcf7{
	width: 90%;
	margin: auto;
}
#about-display .wpcf7 select, #about-display .wpcf7 input, #about-display .wpcf7 textarea{
	width: 100%;
	min-height: 32px;
	font-family: Karla, sans-serif;
	margin-bottom: 5px;
}
#about-display .wpcf7 textarea{
	height: 150px;
}
#about-display .wpcf7 input.wpcf7-submit{
	width: 100px;
	background-color: #FFE17D;
	text-align: center;
	color: #212529;
	margin: 0;
	cursor: pointer;
	font-size: 16px;
	border: none;
	outline: none;
	padding: 0;
	height: 32px;
	line-height: 32px;
	-webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
	transition: all 0.2s;
}
#about-display .wpcf7 input.wpcf7-submit:hover{
	transform: scale(1.1);
}
#about-display .content h2.sponsors-heading{
	margin-top: 30px;
	text-align: center;
}
#about-display .sponsors{
	text-align: center;
}
#about-display .sponsors a{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	background: white;
	height: 75px;
	border: 1px solid #6B6B6B;
	border-radius: 10px;
}
#about-display .sponsors img{
	display: inline-block;
	height: 100%;
	width: auto;
	padding: 5px;
}
#about-display .sponsors-bottom-text{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
#visit-hours .appointment{
	font-size: 14px;
	margin-bottom: 10px;
}
#visit-hours .hours{
	margin-bottom: 10px;
}
#what-we-do strong{
	display: inline-block;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 18px;
}
#what-we-do a{
	margin-top: 5px;
}


/* Latest News */
#latest-news{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
}
#latest-news h1{
	text-align: center;
	margin-bottom: 0px;
}
#latest-news hr{
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
#latest-content{
	width: 1100px;
	max-width: 90%;
	margin: 0 auto;
}
#more-news{
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	background-color: #7AB8FF;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	-webkit-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
#more-news:hover{
	background-color: #FFE17D;
	color: #212529;
}


/* Featured Cats */
#featured-cats{
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}
#featured-cats h1{
	text-align: center;
	margin-bottom: 0px;
}
#featured-cats p>a{
	color: #FFE17D;
	display: inline-block;
	-webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
#featured-cats p>a:hover{
	-webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);
}
#featured-cats-wrapper{
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
}
#featured-cats-wrapper .featured-cat-box{
	float: left;
	width: 33.33%;
	padding-right: 30px;
	padding-left: 30px;
}
#featured-cats-wrapper .featured-cat-box img{
	display: block;
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	border-radius: 15px;
	-webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
}
#featured-cats-wrapper .featured-cat-box img:hover{
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
#featured-cats-wrapper .featured-cat-box p,
#featured-cats-wrapper .featured-cat-box h2{
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
}
#featured-cats-wrapper .featured-cat-box h2{
	padding-top: 15px;
	padding-bottom: 8px;
	text-align: center;
	font-weight: bold;
}
#featured-cats-wrapper .featured-cat-box p{
	padding-bottom: 20px;
}




/*=== Posts ===*/
#post-content{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	max-width: 90%;
	min-width: 300px;
	min-height: 800px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.post-title{
	padding-left: 10px;
	margin-bottom: 0px;
}
.post-date{
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
	display: inline-block;
}




/*=== Get Involved Page ===*/
#get-involved .opacity{
	color: white;
}
#get-involved section{
	padding-top: 50px;
	padding-bottom: 50px;
}
#get-involved h1{
	text-align: center;
}
#get-involved #donate,
#get-involved #foster{
	background-color: white;
}
#get-involved .content{
	width: 1100px;
	max-width: 90%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
#get-involved .donate-row{
	margin-bottom: 40px;
}
#get-involved .donate-box{
	float: left;
	width: 33.33%;
	padding-left: 20px;
	padding-right: 20px;
}
#get-involved .box-content{
	display: block;
	border: 3px solid #7AB8FF;
	height: 300px;
}
#get-involved .box-content:hover{
	border: 4px solid #7AB8FF;
}
.box-content .box-table{
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}
.box-content .box-cell{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
#get-involved .box-content img{
	width: 90%;
	display: block;
	margin: 0 auto;
}
.box-content .overlay{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
	-webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	background-color: white;
}
.box-content:hover .overlay{
	opacity: 1;
}
.box-content .overlay-content{
	text-align: center;
}
.box-content .overlay-content span{
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
}
.box-content .overlay-content .note{
	font-size: 12px;
	line-height: 1;
	margin-top: 10px;
	padding-left: 6px;
	padding-right: 6px;
}
.box-content .overlay-content .action{
	color: #7AB8FF;
	font-size: 24px;
	margin-top: 20px;
}
#get-involved .wish-list{
	padding-bottom: 50px;
}
#get-involved .wish-list p{
	text-align: center;
	margin-top: 16px;
	margin-bottom: 24px;
}
#get-involved .wish-list ul{
	margin: 0 auto;
	padding: 0;
	width: 600px;
}
#get-involved .wish-list li{
	width: 50%;
	display: block;
	float: left;
	text-align: center;
	list-style-type: none;
}
/*=== Get Involved Page ===*/




/*=== Adopt Page ===*/
#adopt .opacity{
	color: white;
}
#adopt #information,
#adopt #application,
#adopt #adoptable-cats{
	padding-top: 50px;
	padding-bottom: 50px;
	height: 500px;
}
#adopt h1{
	text-align: center;
}
#adopt #information,
#adopt #adoptable-cats{
	background-color: white;
}
#adopt .content{
	width: 1100px;
	max-width: 90%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
#information .adopt-row{
	width: 100%;
}
.adopt-row .adopt-box{
	width: 33.33%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.adopt-row .adopt-box-content{
	border: 3px solid #7AB8FF;
	height: 300px;
	position: relative;
}
.adopt-box-content .adopt-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	text-align: center;
	line-height: 294px;
	-webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	font-size: 80px;
}
.adopt-row .adopt-box-content:hover .adopt-overlay{
	opacity: 1;
}
#application .left{
	float: left;
	width: 25%;
}
#application .right{
	float: left;
	width: 75%;
}
#application strong{
	color: #FFE17D;
	font-weight: bold;
}
#adoptable-cats p{
	text-align: center;
}
/*=== End Adopt Page ===*/




/*=== Shop Page ===*/
#shop{
	width: 1100px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	min-height: 800px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#shop p.soon{
	text-align: center;
	font-size: 30px;
	margin-top: 200px;
}
#shop h1{
	text-align: center;
}
#shop .products li{
	overflow: hidden;
	border-radius: 15px;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	-webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
}
#shop .products li:hover{
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
#shop .woocommerce-loop-product__title{
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
}
#shop .price{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}
#shop .woocommerce-ordering{
	display: none;
}
#shop nav.woocommerce-pagination{
	position: static;
	background: none;
}
#shop .woocommerce-result-count{
	display: none;
}
/*=== End Shop Page ===*/




/*=== News Page ===*/
#news h1{
	text-align: center;
	padding-top: 50px;
}
.news-wrapper{
	width: 1100px;
	max-width: 90%;
	margin: 0 auto;
	padding-top: 50px;
}
.news-wrapper .news-box{
	float: left;
	width: 33.33%;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 30px;
	height: 362px;
	-webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
}
.news-wrapper .news-box:hover{
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.news-box .news-content{
	width: 100%;
	height: 362px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	overflow: hidden;
	position: relative;
}
.news-box h2{
	margin: 0;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.news-box p{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.news-box .img-wrap{
	width: 100%;
	height: 200px;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	margin-bottom: 15px;
}
.news-box .post-date{
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-size: 13px;
	font-style: italic;
}
/*=== End News Page ===*/




/*=== Product Page ===*/
#product-page{
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 800px;
}
#product-page h1{
	text-align: center;
}
#product-page .content{
	width: 1100px;
	max-width: 90%;
	min-width: 300px;
	margin: 0 auto;
}
#product-page .woocommerce-product-gallery figure{
	max-width: 300px;
	max-height: 300px;
	margin: 0 auto;
}
#product-page .woocommerce-product-gallery__trigger{
	padding-right: 50px;
}
#product-page .product_meta{
	display: none;
}
#product-page .single_add_to_cart_button{
	background-color: #7AB8FF;
	-webkit-transition: color 0.3s, background-color 0.3s;
    -o-transition: color 0.3s, background-color 0.3s;
	transition: color 0.3s, background-color 0.3s;
}
#product-page .single_add_to_cart_button:hover{
	background-color: #FFE17D;
	color: #212529;
}
#product-page .tabs{
	display: none;
}
/*=== End Product Page ===*/




/*=== Cart Page ===*/
#cart{
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 800px;
	width: 1100px;
	max-width: 90%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
#cart h1{
	text-align: center;
}
#cart .coupon{
	display: none;
}
#cart .checkout-button{
	-webkit-transition: color 0.3s, background-color 0.3s;
    -o-transition: color 0.3s, background-color 0.3s;
	transition: color 0.3s, background-color 0.3s;
	background-color: #7AB8FF;
	color: white;
}
#cart .checkout-button:hover{
	background-color: #FFE17D;
	color: #212529;
}
/*=== End Cart Page ===*/




/*=== Checkout Page ===*/
#checkout{
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 800px;
	width: 1100px;
	max-width: 90%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
#checkout h1{
	text-align: center;
}
#checkout .woocommerce-form-coupon-toggle{
	display: none;
}
#checkout textarea{
	resize: vertical;
	max-height: 500px;
}
#checkout input[type="text"], #checkout input[type="tel"], #checkout input[type="email"]{
	height: 35px;
	line-height: 35px;
	padding-left: 8px;
	padding-right: 8px;
}
#checkout .woocommerce-form__label-for-checkbox span{
	padding-left: 5px;
}
#checkout #place_order{
	-webkit-transition: color 0.3s, background-color 0.3s;
    -o-transition: color 0.3s, background-color 0.3s;
	transition: color 0.3s, background-color 0.3s;
	background-color: #7AB8FF;
	color: white;
}
#checkout #place_order:hover{
	background-color: #FFE17D;
	color: #212529;
}
/*=== End Checkout Page ===*/




/*=== Media Queries ===*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/* General */
	section.opacity{
		background-color: rgb(122, 184, 255);
	}

	/* Footer */
	footer{
		height: auto;
	}
	footer .content{
		padding-left: 15px;
		padding-right: 15px;
	}
	footer .footer-box{
		display: block;
		text-align: center;
		width: 90%;
		margin: 0 auto;
	}
	footer .footer-box.middle{
		width: 90%;
	}
	footer .footer-box.right{
		text-align: center;
	}
	footer .social-icons{
		margin-top: 30px;
	}

	/* Hero */
	.hero{
		height: auto !important;
		background-attachment: scroll;
		background-position: center center;
	}
	.hero-content{
		margin-top: 150px !important;
		margin-bottom: 150px !important;
	}
	.hero-background{
		background-image: none !important;
	}


	/* Home - About */
	#about-display{
		min-height: 0px;
		padding-bottom: 50px;
	}
	#about-display .content.active{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#about-display .img, #about-display .text{
		float: none !important;
		padding: 0;
	}
	#about-display .img{
		width: 100%;
		text-align: center;
		height: 200px;
		margin-bottom: 30px;
	}
	#about-display .img img{
		height: 200px;
		width: auto;
	}
	#about-display .text{
		width: 100%;
	}
	#who-we-are .text{
		max-width: 600px;
		margin: 0 auto;
	}

	/* Get Involved */
	#get-involved .box-content{
		height: 250px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/* Nav */
	#menu-header-menu{
		display: block;
		position: absolute;
		top: 60px;
		width: 100%;
		height: auto;
		overflow: hidden;
		-webkit-transform: scaleY(0);
		-o-transform: scaleY(0);
		-ms-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: top;
		-o-transform-origin: top;
		-ms-transform-origin: top;
		transform-origin: top;
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		-o-transition: transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	}
	#menu-header-menu.expand{
		visibility: visible;
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
	}
	#menu-header-menu li{
		display: block;
		height: 30px;
		line-height: 30px;
		width: 300px;
		margin: 0 auto;
		background-color: #7AB8FF;
	}
	#menu-header-menu li:nth-last-child(1){
		padding-bottom: 10px;
		height: 40px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	#menu-header-menu .sub-menu{
		display: none;
	}
	#nav-logo{
		left: 20px;
	}
	#nav-logo a{
		margin-left: 0px;
	}
	.hamburger{
		visibility: visible;
	}

	/* Home - Featured Cats */
	#featured-cats-wrapper .featured-cat-box img{
		display: block;
		margin: 0 auto;
		max-width: 300px;
		text-align: center;
	}
	#featured-cats-wrapper .featured-cat-box{
		float: none;
		width: 500px;
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	/* Get Involved */
	#get-involved .donate-row{
		margin-bottom: 0;
	}
	#get-involved .donate-box{
		width: 300px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		float: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/* Home - Hero */
	.hero-buttons .button{
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
	.hero h1{
		font-size: 20px;
	}
	.hero-buttons{
		height: 40px;
	}
	.hero-buttons .button{
		line-height: 40px;
		font-size: 16px;
	}

	/* Get Involved */
	#get-involved .wish-list ul{
		width: 300px;
		max-width: 100%;
	}
	#get-involved .wish-list li{
		float: none;
		width: 100%;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}